#site-header {
  background-image: url(../images/backgrounds/vig-hote-groningen-plaza-1400x900.jpg);
}

.navbar-solid .site-branding .logo img {
  max-height: 44px;
  margin: 6px 0;
}
.schedule-box-coffee, .schedule-box-dinner, .schedule-box-drinks, .schedule-box-lunch {
  background-size: cover;
  background-position-y: center;  
}
.schedule-box-coffee {
  background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)),
                    url(../images/backgrounds/coffee.jpg);
}
.schedule-box-dinner {
  background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)),
                    url(../images/backgrounds/dinner.jpg);
}
.schedule-box-drinks {
  background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)),
                    url(../images/backgrounds/drinks.jpg);
}
.schedule-box-lunch {
  background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)),
                    url(../images/backgrounds/lunch.jpg);
}
.speaker img {
  width: 255px;
  filter: grayscale(100%);
  transition: all 1s;
}
.speaker img:hover {
  filter: none;
  opacity: 1;
}
.speaker_bio .speaker h4 {
  margin-bottom: 10px;
  text-align: left;
}
.speaker_bio .speaker {
  text-align: inherit;
  text-transform: inherit;
}
.speaker_bio .speaker figure .pull-left {
  width: 200px;
  margin: 0 20px 20px 0;
}
.room {
  bottom: 10px;
  color: rgba(255, 255, 255, .45);
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
.schedule {
  background-color: #f8f8f8;
}
.schedule-box-session {
  background-color: #4BADE9;
}
.schedule-box, .schedule-box-track1, .schedule-box-track2, .schedule-box-track3 {
  padding-bottom: 2.5em;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.schedule-box .speaker, .schedule-box-track1 .speaker, .schedule-box-track2 .speaker, .schedule-box-track3 .speaker {
  text-transform: none;
  color: #bbb;
}
.partner {
  background-color: #fff;
}
.partner .partner-box {
  filter: grayscale(100%);
  opacity: 1;
  transition: all 1s;
  height: 100px;
}
.partner .partner-box:hover {
  filter: none;
}
.partner .partner-box-4dotnet {
  background: url(../images/partner/4DotNet.png) no-repeat center center/contain;
}
.partner .partner-box-gasunie {
  background: url(../images/partner/Gasunie.png) no-repeat center center/contain;
}
.partner .partner-box-getthere {
  background: url(../images/partner/GetThere.png) no-repeat center center/contain;
}
.partner .partner-box-google {
  background: url(../images/partner/Google.png) no-repeat center center/contain;
}
.partner .partner-box-ilionx {
  background: url(../images/partner/ilionx.png) no-repeat center center/contain;
}
.partner .partner-box-kpn {
  background: url(../images/partner/KPN.png) no-repeat center center/contain;
}
.partner .partner-box-magister {
  background: url(../images/partner/Magister.png) no-repeat center center/contain;
}
.partner .partner-box-newnexus {
  background: url(../images/partner/NewNexus.png) no-repeat center center/contain;
}
.partner .partner-box-ordina {
  background: url(../images/partner/Ordina.png) no-repeat center center/contain;
}
.partner .partner-box-quintor {
  background: url(../images/partner/Quintor.png) no-repeat center center/contain;
}
.partner .partner-box-sogeti {
  background: url(../images/partner/Sogeti.png) no-repeat center center/contain;
}
.partner .partner-box-axians {
  background: url(../images/partner/Axians.png) no-repeat center center/contain;
}
.partner .partner-box-rdw {
  background: url(../images/partner/RDW.jpeg) no-repeat center center/contain;
}
.partner .partner-box-xpirit {
  background: url(../images/partner/Xpirit.png) no-repeat center center/contain;
}
.partner .partner-box-centric {
  background: url(../images/partner/Centric.png) no-repeat center center/contain;
}
.partner .partner-box-vitas {
  background: url(../images/partner/Vitas.png) no-repeat center center/contain;
}
.partner .partner-box-fullred {
  background: url(../images/partner/fullred.png) no-repeat center center/contain;
}
.social-block img {
  margin-top: -14px;
}
