#site-header {
  background-image: url(../images/backgrounds/gasunie.jpg);
}
#site-header.hotelgroningenplaza {
  background-image: url(../images/backgrounds/vig-hote-groningen-plaza-1400x900.jpg);
}
#site-header.kinepolis {
  background-image: url(../images/backgrounds/kinepolis-groningen.jpg);
}

.site-header h1, .site-header h2, .site-header h3 {
  text-shadow: 0 0 5px black;
}
.site-header h3 {
  color: #4BADE9;
  font-weight: bold;
  margin-top: 2em;
}
.site-header .alert {
  bottom: 2em;
  left: 2em;
  position: absolute;
  margin: 1em;
  right: 2em;
  text-transform: none;
}
.site-branding {
  margin-top: 0;
}
.intro {
  overflow: clip;
}
/*
.intro .alert {
  margin-top: 2em;
  text-transform: none;
}
*/
.intro #gratis {
  background-color: yellow;
  border: 4px dashed black;
  bottom: 12px;
  box-shadow: 0 0px 18px black;
  color: rgba(0,0,0,.7);
  font-size: 20px;
  font-weight: bold;
  left: -55px;
  line-height: 3em;
  position: absolute;
  transform: rotate(45deg);
  width: 200px;
}
.intro #gratis::before {
  border: 7px solid yellow;
  bottom: -8px;
  content: ' ';
  left: -8px;
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: -1;
}
.navbar-solid .site-branding .logo img {
  max-height: 44px;
  margin: 6px 0;
}
.schedule-box-coffee, .schedule-box-dinner, .schedule-box-drinks, .schedule-box-lunch {
  background-size: cover;
  background-position-y: center;  
}
.schedule-box-coffee {
  background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)),
                    url(../images/backgrounds/coffee.jpg);
}
.schedule-box-dinner {
  background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)),
                    url(../images/backgrounds/dinner.jpg);
}
.schedule-box-drinks {
  background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)),
                    url(../images/backgrounds/drinks.jpg);
}
.schedule-box-lunch {
  background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)),
                    url(../images/backgrounds/lunch.jpg);
}
.speaker img {
  width: 255px;
  filter: grayscale(100%);
  transition: all 1s;
}
.speaker img:hover {
  filter: none;
  opacity: 1;
}
.speaker_bio .speaker h4 {
  margin-bottom: 10px;
  text-align: left;
}
.speaker_bio .speaker {
  text-align: inherit;
  text-transform: inherit;
}
.speaker_bio .speaker figure .pull-left {
  width: 200px;
  margin: 0 20px 20px 0;
}
.room {
  bottom: 10px;
  color: rgba(255, 255, 255, .45);
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
.schedule, .location, .speaker_bio {
  background-color: #f8f8f8;
}
.schedule-box-session {
  background-color: #4BADE9;
}
.schedule-box, .schedule-box-track1, .schedule-box-track2, .schedule-box-track3 {
  padding-bottom: 2.5em;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.schedule-box .speaker, .schedule-box-track1 .speaker, .schedule-box-track2 .speaker, .schedule-box-track3 .speaker {
  text-transform: none;
  color: #bbb;
}
.partner {
  background-color: #fff;
}
.partner .partner-box {
  filter: grayscale(100%);
  opacity: 1;
  transition: all 1s;
  height: 100px;
}
.partner .partner-box.main-partner {
  width: 250px;
}
.partner .partner-box.event-partner {
  width: 150px;
}
.partner .partner-box:hover {
  filter: none;
}
.partner .partner-box-4dotnet {
  background: url(../images/partner/4DotNet.png) no-repeat center center/contain;
}
.partner .partner-box-gasunie {
  background: url(../images/partner/Gasunie.png) no-repeat center center/contain;
}
.partner .partner-box-getthere {
  background: url(../images/partner/GetThere.png) no-repeat center center/contain;
}
.partner .partner-box-google {
  background: url(../images/partner/Google.png) no-repeat center center/contain;
}
.partner .partner-box-ilionx {
  background: url(../images/partner/ilionx.png) no-repeat center center/contain;
}
.partner .partner-box-kpn {
  background: url(../images/partner/KPN.svg) no-repeat center center/contain;
}
.partner .partner-box-magister {
  background: url(../images/partner/Magister.png) no-repeat center center/contain;
}
.partner .partner-box-newnexus {
  background: url(../images/partner/NewNexus.png) no-repeat center center/contain;
}
.partner .partner-box-ordina {
  background: url(../images/partner/Ordina.png) no-repeat center center/contain;
}
.partner .partner-box-quintor {
  background: url(../images/partner/Quintor.png) no-repeat center center/contain;
}
.partner .partner-box-sogeti {
  background: url(../images/partner/Sogeti.png) no-repeat center center/contain;
}
.partner .partner-box-axians {
  background: url(../images/partner/Axians.png) no-repeat center center/contain;
}
.partner .partner-box-rdw {
  background: url(../images/partner/RDW.jpeg) no-repeat center center/contain;
}
.partner .partner-box-xpirit {
  background: url(../images/partner/XebiaXpirit.svg) no-repeat center center/contain;
}
.partner .partner-box-centric {
  background: url(../images/partner/Centric.png) no-repeat center center/contain;
}
.partner .partner-box-vitas {
  background: url(../images/partner/Vitas.png) no-repeat center center/contain;
}
.partner .partner-box-fullred {
  background: url(../images/partner/fullred.png) no-repeat center center/contain;
}
.partner .partner-box-ict {
  background: url(../images/partner/ICT.png) no-repeat center center/contain;
}
.partner .partner-box-xprtz {
  background: url(../images/partner/Xprtz.png) no-repeat center center/contain;
}
.partner .partner-box-cgi {
  background: url(../images/partner/CGI.png) no-repeat center center/contain;
}
.partner .partner-box-capteur {
  background: url(../images/partner/Capteur.png) no-repeat center center/contain;
}

/* social */

.social-block {
  font-size: 1.75em;
}
.social-block img {
  margin-top: -14px;
}

/* dialog */

a.sponsor-informatie {
  font-size: 16px;
  margin: 6px;
  vertical-align: super;
}
p.sponsor-informatie {
  text-align: center;
}
p.sponsor-informatie a.ion-information-circled::before {
  margin-right: .5em;
}
.dialog-container {
  background-color: rgba(0,0,0,.75);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  transition: opacity 200ms;
  top: 0;
  z-index: 1040;
}
.dialog-container:target {
  opacity: 1;
  pointer-events: all;
}
.dialog {
  background-color: #fff;
  bottom: 60px;
  left: 50%;
  padding: 25px 50px;
  position: absolute;
  top: 60px;
  transform: translateX(-50%);
  width: 60%;
}
.dialog-close {
  position: absolute;
  right: 30px;
}
.dialog-content {
  height: calc(100% - 62px);
  overflow-y: auto;
}

@media (max-width: 767px) {
  .dialog {
    width: 100%;
  }
}

.session-flag {
  position: absolute;
  width: 2em;
  right: 0.3em;
  top: 0.3em;
  padding: 4px;
}
.button-container {
  text-align: center;
}
.sessionize-button {
	width: 200px;
}
