.speaker img {
  width: 255px;
  filter: grayscale(100%);
  transition: all 1s;
}
.speaker img:hover {
  filter: none;
  opacity: 1;
}
.room {
  bottom: 10px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
.schedule {
  background-color: #f8f8f8;
}
.schedule-box, .schedule-box-track1, .schedule-box-track2, .schedule-box-track3 {
  padding-bottom: 2.5em;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.schedule-box .speaker, .schedule-box-track1 .speaker, .schedule-box-track2 .speaker, .schedule-box-track3 .speaker {
  text-transform: none;
  color: #bbb;
}
.partner {
  background-color: #fff;
}
.partner .partner-box {
  filter: grayscale(100%);
  opacity: 1;
  transition: all 1s;
}
.partner .partner-box:hover {
  filter: none;
}
.partner .partner-box-1 {
  background: url(../images/partner/4DotNet.jpeg) no-repeat center center/contain;
}
.partner .partner-box-2 {
  background: url(../images/partner/Gasunie.jpeg) no-repeat center center/contain;
}
.partner .partner-box-3 {
  background: url(../images/partner/GetThere.jpeg) no-repeat center center/contain;
}
.partner .partner-box-4 {
  background: url(../images/partner/Google.jpeg) no-repeat center center/contain;
}
.partner .partner-box-5 {
  background: url(../images/partner/Ilionx.jpeg) no-repeat center center/contain;
}
.partner .partner-box-6 {
  background: url(../images/partner/KPN.jpeg) no-repeat center center/contain;
}
.partner .partner-box-7 {
  background: url(../images/partner/Magister.jpeg) no-repeat center center/contain;
}
.partner .partner-box-8 {
  background: url(../images/partner/NewNexus.jpeg) no-repeat center center/contain;
}
.partner .partner-box-9 {
  background: url(../images/partner/Ordina.jpeg) no-repeat center center/contain;
}
.partner .partner-box-10 {
  background: url(../images/partner/Quintor.jpeg) no-repeat center center/contain;
}
.partner .partner-box-11 {
  background: url(../images/partner/Sogeti.jpeg) no-repeat center center/contain;
}
.partner .partner-box-12 {
  background: url(../images/partner/VCD.jpeg) no-repeat center center/contain;
}
.partner .partner-box-13 {
  background: url(../images/partner/Xpirit.jpeg) no-repeat center center/contain;
}
.social-block img {
  height: 28px;
  vertical-align: bottom;
  width: 28px;
}
